<div class="container">
  <table class="table .table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên phần mềm</th>
        <th scope="col">Phiên bản</th>
        <th scope="col">Tải xuống</th>
      </tr>
    </thead>
    <tbody>
      <tr style=" cursor: default;">
        <th scope="row">1</th>
        <td>Adobe.Photoshop.2020.v21.1.rar</td>
        <td>2020</td>
        <td><a href="https://drive.google.com/file/d/1Fu0InW37rsjMAlFu88752dA-UhXCfzwD/view?usp=drive_link">Dowload</a></td>
      </tr>
      <tr style="cursor: default;">
        <th scope="row">2</th>
        <td>3Ds_Max__2023.rar</td>
        <td>2023</td>
        <td><a href="https://drive.google.com/file/d/1azqWnQRd01v9vPH40Z5NVBdAPabbDHAx/view?usp=drive_link">Dowload</a></td>
      </tr>
      <tr style="cursor: default;">
        <th scope="row">3</th>
        <td>AutoCAD_2023_English__Win_64bit.rar</td>
        <td>2023</td>
        <td><a href="https://drive.google.com/file/d/1bAzkj1qEgUzmJOF5Cg3Zrb_tTJdt5KpX/view?usp=drive_link">Dowload</a></td>
      </tr>
      <tr style="cursor: default;">
        <th scope="row">4</th>
        <td>KMSPICO_05466</td>
        <td>2023</td>
        <td><a href="https://drive.google.com/file/d/1Iiu7r30JqR-gLrbn1D0y5AnJKe6ok92j/view?usp=drive_link">Dowload</a></td>
      </tr>
      <tr style="cursor: default;">
        <th scope="row">5</th>
        <td>Microsoft office 2016.zip</td>
        <td>2016</td>
        <td><a href="https://drive.google.com/file/d/1QMbsQANktVj8233b2fleN4cgG3mWlbO8/view?usp=drive_link">Dowload</a></td>
      </tr>
    </tbody>
  </table>
</div>
